.imgca{
  max-width: 100%;
  min-width: 100%;
  max-height: 500px;
  min-height: 500px;
  text-align: center;
}
.container-cards{
  background-color: black;
  width:280px;
  margin: 20px;
  height: 400px;
}
.add{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
h1 {
  font-family: Arial;
  color: red;
  text-align: center;
}


.carou{
  width: 100%;
  color: palevioletred;
}
.container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap ;

}

.nav-h{
  width: 50px;
}
.wrapper2 {
  display: grid;
  grid-template-columns: repeat(3,100%);
  overflow:hidden;
  scroll-behavior: smooth;}

  .section2 {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 20px 0;}
    
    .item2 {
      padding: 0 2px;
      transition: all;}
      .a2 {
        position: absolute;
        color: #fff;
        text-decoration: none;
        font-size: 6em;
        background:rgb(0,0,0);
        width: 80px;
        padding: 20px;
        text-align: center;
        z-index: 1;}
